extends layout

block content
 nav.navbar.navbar-default.navbar-static-top(ng-controller="navControl")
    .container
      .navbar-header
       button.navbar-toggle.collapsed( type='button', ng-init='navCollapsed = true', ng-click='navCollapsed = !navCollapsed')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
       a.navbar-brand.glyphicon.glyphicon-option-vertical( ng-click='toggleSidebar()',  ng-class="{ threeDots: isActive('/') || isActive('/form') }",ng-href='', snap-toggle="left")
      #navbar.collapse.navbar-collapse(uib-collapse='navCollapsed')
        ul.nav.navbar-nav
          li(ng-class="{ active: isActive('/')}")
            a( ng-href='#/') Steps
          li(ng-class="{ active: isActive('/form')}")
            a(href='#/form') Res Form
          li(ng-class="{ active: isActive('/resume_view')}")
            a( ng-href='#/resume_view') Resume
          // /.nav-collapse
  div(ng-view).snap-content(ng-class="{'noScroll': toggle()}")
