div.resumeWrap{
    width:8.25in;
    height: 11.75in;
    margin: 10px auto 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: .25in;
    background-color: #6f5899;
    /*background: url("../images/lightNoise.png");*/
    background-repeat: repeat;

}
/*Side A of resume content*/
.iBlock{
    display: inline-block;
    position: relative;
    float: left;
}
section.sidePersonal{
    width:40%;
    height: 100%;
    display: inline-block;
}

.introBlock{
    width: 100%;
    height: 25%;
    background-color: lightblue;
}
.profileBlock{
    width: 100%;
    height: 24%;
    background-color: lightyellow;
}

.contactBlock{
    width: 100%;
    height: 24%;
    background-color: lightcoral;
}
.personalBlock{
    width: 100%;
    height: 27%;
    background-color: lightgreen;
}

/*Side B of resume content*/
section.sideInfo{
    width:60%;
    height: 100%;
    float: right;
    display: inline-block;
    border-left:  2pt solid black;
}
.educationBlock{
    width: 100%;
    height: 35%;
    background-color: lightblue;
}
.employerBlock{
    width: 100%;
    height: 35%;
    background-color: lightyellow;
}
.professionalBlock{
    width: 100%;
    height: 30%;
    background-color: lightgreen;
}
/*Resume font styling*/
.resumeFont{
    margin: 5pt;
    position: relative;
    text-align: center;
}
h1.resumeFont{
    margin: 5pt;
    font-size: 24pt;
    letter-spacing: 3pt;
}
h2.resumeFont{
    margin: 3pt;
    font-size: 18pt;
    letter-spacing: 2pt;
}
h3.resumeFont{
    font-size: 15pt;
    letter-spacing: 1pt;
    margin-top: 10pt;
}

/*Resume Icons*/
div.personalIcon {
     width: 80pt;
     height: 80pt;
     margin: 20pt auto 0;
     background: lightgray;
     -moz-border-radius: 40pt;
     -webkit-border-radius: 40pt;
     /*background-image: url("img/mobile.png");*/
     /*background-size: 40px 40px;*/
     /*background-position:50% 50%;*/
     /*background-repeat:no-repeat;*/
 }
div.styleIcon {
    width: 30pt;
    height: 30pt;
    margin: 20pt auto 0;
    background: lightgray;
    border: 1pt solid black;
    -moz-border-radius: 15pt;
    -webkit-border-radius: 15pt;
    /*background-image: url("img/mobile.png");*/
    /*background-size: 40px 40px;*/
    /*background-position:50% 50%;*/
    /*background-repeat:no-repeat;*/
}
/*fancy line styling*/
h3.fancyLine span {
    background: #fff;
    padding: 0 6pt;
    position: relative;
    z-index: 1;
}
h3.fancyLine:before {
    background: black;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 80%;
    left:0;
    right:0;
    margin: auto;
}

h3.resumeFont:before {
    left: 0;
}

/*Resume content styling*/
.resumePara {
    width: 80%;
    font-size: 10pt;
    margin: auto;

}
ul.contactList{
    width: 80%;
    margin-top: 15pt;
    font-size: 10pt;


}

ul.eduList{
    width: 80%;
    font-size: 10pt;
    margin: auto;
    padding: 0 0 0 16pt;
    list-style-type:circle;
    list-style-position: outside;
}

p.eduBlurb{
    width: 100%;
}

.eduDate {
    font-size: 8pt;
}

ul.empList{
    width: 80%;
    font-size: 10pt;
    margin: auto;
    padding: 0 0 0 16pt;
    list-style-type:circle;
    list-style-position: outside;
}

p.empBlurb{
    width: 100%;
}

.empDate {
    font-size: 8pt;
}
/*Resume info graphic styling */


div.centerGauges{
    margin: auto;
    width: 138pt;
}
div.gaugeWrap{
    width: 69pt;
    text-align: center;
    position: relative;
}
div.gaugeWrap:nth-of-type(odd) {
    float: right;
    background-color: red;

}
div.gaugeWrap:nth-of-type(even) {
    float: left;
    background-color: blue;
}
div.gaugeWrap:nth-of-type(3) {
    margin-top: 13pt;
}
div.gaugeWrap:nth-of-type(4) {
    margin-top: 13pt;
}

progress-arc {
    position: relative;
}
p.personalSkill-text {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 70px;
    margin-top: 20pt;
    font-size: 10pt;
}

svg {
    display: inline-block;


}

circle {
    transition: stroke-dashoffset 0.1s linear;
}

/*Resume info proSkills meter */

div.centerBars{
    margin: auto;
    width: 80%;
}
div.skillBar{
    width: 133pt;
    margin-top: 10pt;
    position: relative;
}
div.skillBar:nth-of-type(odd) {
    float: right;
    background-color: red;
}
div.skillBar:nth-of-type(even) {
    float: left;
    background-color: blue;
}
/*div.skillBar:nth-of-type(3) {*/
    /*margin-top: 5pt;*/
/*}*/
/*div.skillBar:nth-of-type(4) {*/
    /*margin-top: 5pt;*/
/*}*/
div.skillBar > span {
    width: 66pt;
    font-size: 10pt;
    background-color: #6f5899;
    padding-right: 10pt;
    position: relative;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;
}
div.meter {
    width: 60pt;
    height: 15px;  /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    display: inline-block;
    vertical-align: bottom;
}
.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
            center bottom,
            rgb(43,194,83) 37%,
            rgb(84,240,84) 69%
    );
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.orange > span {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}