div.resumeWrap{
    width:8.25in;
    height: 11.75in;
    margin: 10px auto 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: .25in;
    background: url("../images/lightNoise.png");
    background-repeat: repeat;
}
