div.resumeWrap{
    width:8.5in;
    height: 11in;
    margin: 15pt auto 20pt;
    padding: .39in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
div.contentDiv{
    width: 100%;
    height: 100%;
}

/*Side A of resume content*/
.iBlock{
    display: inline-block;
    position: relative;
    float: left;
}
section.sidePersonal{
    width:40%;
    height: 100%;
    display: inline-block;
}

.introBlock{
    padding-top: 30pt;
    width: 100%;
    height: 16%;
}
.profileBlock{
    width: 100%;
    height: 27%;
}

.contactBlock{
    width: 100%;
    height: 27%;
}
.personalBlock{
    width: 100%;
    height: 30%;
}

/*Side B of resume content*/
section.sideInfo{
    width:60%;
    height: 100%;
    float: right;
    display: inline-block;
    border-left:  2pt solid black;
}
.educationBlock{
    width: 100%;
    height: 35%;
    /*background-color: lightblue;*/
}
.employerBlock{
    width: 100%;
    height: 35%;
    /*background-color: lightyellow;*/
}
.professionalBlock{
    width: 100%;
    height: 30%;
    /*background-color: lightgreen;*/
}
/*Resume font styling*/
.resumeFont{
    margin: 5pt;
    position: relative;
    text-align: center;
}
h1.resumeFont{
    margin: 5pt;
    font-size: 24pt;
    letter-spacing: 3pt;
    font-weight: 300;
}
h2.resumeFont{
    margin: 6pt;
    font-size: 18pt;
    letter-spacing: 2pt;
    font-weight: 300;
}
h3.resumeFont{
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 1pt;
    margin-top: 10pt;
}

/*Resume Icons*/
/*div.personalIcon {*/
     /*width: 80pt;*/
     /*height: 80pt;*/
     /*margin: 20pt auto 0;*/
     /*background: lightgray;*/
     /*-moz-border-radius: 40pt;*/
     /*-webkit-border-radius: 40pt;*/
     /*!*background-image: url("img/mobile.png");*!*/
     /*!*background-size: 40px 40px;*!*/
     /*!*background-position:50% 50%;*!*/
     /*!*background-repeat:no-repeat;*!*/
 /*}*/

/*this control the size of each icon the id only contains*/
/*the img url*/
div.styleIcon {
    width: 32pt;
    height: 32pt;
    margin: 20pt auto 0;
    border: 1.25pt solid black;
    -moz-border-radius: 16pt;
    -webkit-border-radius: 16pt;
    text-align: center;
    font: 0/0 a;
}
.styleIcon:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}
img.icon{
    display: inline-block;
    vertical-align: middle;
}


/*fancy line styling*/

h3.fancyLine span {
    padding: 0 6pt;
    position: relative;
    z-index: 1;
}
h3.fancyLine:after {
    border: 1pt solid black;
    content: "";
    display: block;
    height: 1pt;
    position: relative;
    top: 50%;
    width: 80%;
    left:0;
    right:0;
    margin: auto;
}

h3.resumeFont:after {
    left: 0;
}

/*Resume content styling*/
.resumePara {
    width: 80%;
    font-size: 10pt;
    margin: auto;

}
h3.title{
    font-weight: 300;
    color: dimgray;
    letter-spacing: 5pt;
}



/*Resume contact section */
.contactList li{
    list-style: none;
    padding-top: 8pt;
}
ul.contactList{
    width: 80%;
    margin-top: 10pt;
    font-size: 10pt;


}


/*Resume education section */
ul.eduList{
    width: 80%;
    font-size: 10pt;
    margin: auto;
    padding: 0 0 0 16pt;
    list-style-type:circle;
    list-style-position: outside;
}

p.eduBlurb{
    width: 100%;
}

.eduDate {
    font-size: 8pt;
}

ul.empList{
    padding-top: 10pt;
    width: 80%;
    font-size: 10pt;
    margin: auto;
    padding: 0 0 0 16pt;
    list-style-type:circle;
    list-style-position: outside;
}

p.empBlurb{
    width: 100%;
}

.empDate {
    font-size: 8pt;
}
/*Resume info graphic styling */


div.centerGauges{
    padding-top: 10pt;
    margin: auto;
    width: 138pt;
}
div.gaugeWrap{
    width: 69pt;
    text-align: center;
    position: relative;
}
div.gaugeWrap:nth-of-type(odd) {
    float: right;
}
div.gaugeWrap:nth-of-type(even) {
    float: left;
}
div.gaugeWrap:nth-of-type(3) {
    margin-top: 13pt;
}
div.gaugeWrap:nth-of-type(4) {
    margin-top: 13pt;
}

progress-arc {
    position: relative;
}
p.personalSkill-text {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 70px;
    margin-top: 20pt;
    font-size: 10pt;
}

svg {
    display: inline-block;


}

circle {
    transition: stroke-dashoffset 0.1s linear;
}

/*Resume info proSkills meter */

div.centerBars{
    margin: auto;
    width: 80%;
}
div.skillBar{
    width: 120pt;
    margin-top: 12pt;
    position: relative;
}
div.skillBar:nth-of-type(odd) {
    float: right;

}
div.skillBar:nth-of-type(even) {
    float: left;

}

div.skillBar > span {
    width: 56pt;
    font-size: 8pt;
    position: relative;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;

}
div.meter {
    width: 58pt;
    height: 5pt;  /* Can be anything */
    position: relative;
    border: .75pt solid black;
    -moz-border-radius: 19pt;
    -webkit-border-radius: 19pt;
    border-radius: 19pt;
    display: inline-block;
    vertical-align: middle;
}
.meter > img {
    display: block;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15pt;
    border-bottom-left-radius: 15pt;
    background-color: grey;
    position: relative;
    left: -1px;
    z-index: -1;

}

.orange > span {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}


