body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.Wrap{
    height: 100%;
    padding-top: 70px;
}
.login{
    margin-right: 5px;
}
a {
  color: #00B7FF;
}

li{
  list-style: none;
}

/*form styling*/
fieldset{
  background: #FCFCFC;
  padding: 16px;
  border: 1px solid #D5D5D5;
}


#choicesDisplay {
  padding: 10px;
  background: rgb(227, 250, 227);
  border: 1px solid rgb(171, 239, 171);
  color: rgb(9, 56, 9);
}

input[type="text"],

select{
  padding:5px;
}

button.addfield{
    margin-top: 15px;


}


/*form styling of contact fields*/
.contactField{
    height: 60px;
    padding: 15px;

}
.contactError{
    height: 160px;
    padding: 15px;

}
.contactField select{
    margin: 0 2em 0;

}
@media (max-width: 768px) {
    .contactField{
        height: 80px;
        padding: 20px;
    }

    .contactField select{
        margin: 0 2em 0;
    }
}

/*form styling of personal fields*/
.skillField{
    height: 80px;
}
.skillField  div:first-of-type{
    padding: 2em;
}

@media (max-width: 768px) {
    .skillField{
        height: 125px;
    }
    .skillField  div:first-of-type{
        padding: 1em;
    }
}

/*form styling of edu/emp fields*/
.bottomRemove{
    padding: 1em;
}

.dynamicSet{
    padding:1em;
}

.dynamicSet select{
    margin:1em;
}
/*form submit button*/
.finalSubmit{
    top: 2em;
}

/*form styling of proskill fields*/
.proskillField{
    height: 120px;
    padding: 15px;
}
.proskillField  div:first-of-type{
    padding: 1.5em;
}
.proskillField  button:first-of-type{
    margin: 1.5em 0 0;
}

@media (max-width: 992px) {
    .proskillField{
        height: 200px;
        padding: 20px;
    }
    .proskillField  div:first-of-type{
        padding: 1em;
    }
    .proskillField  button:first-of-type{
        margin: 1em 0 0;
    }
}

/*form styling of error messages fields*/
.error-messages.ng-active {
    background:maroon;
    color:white;
    padding:5px;
    border-radius:5px;
    margin-top:15px;
    position:relative;
}
.error-messages.ng-active:after {
    position:absolute;
    top:-10px;
    content:"";
    left:20px;
    border-style:solid;
    border-color:transparent transparent maroon;
    border-width:5px;
}

/*invalid submit*/
.invalidSubmit{
    background-color: hsla(207, 55%, 46%, 0.48);
}